QBAgent/QuickBooksAgent.Window.UI.Synchronize/Web References/QBAgentService/qbagentservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://qbagent.affilia.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://qbagent.affilia.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://qbagent.affilia.com/">
      <s:element name="ProvideLicense">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="license" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deviceId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProvideLicenseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProvideLicenseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProvideLicenseSoapIn">
    <wsdl:part name="parameters" element="tns:ProvideLicense" />
  </wsdl:message>
  <wsdl:message name="ProvideLicenseSoapOut">
    <wsdl:part name="parameters" element="tns:ProvideLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap">
    <wsdl:operation name="ProvideLicense">
      <wsdl:input message="tns:ProvideLicenseSoapIn" />
      <wsdl:output message="tns:ProvideLicenseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap" type="tns:QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProvideLicense">
      <soap:operation soapAction="http://qbagent.affilia.com/ProvideLicense" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap12" type="tns:QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProvideLicense">
      <soap12:operation soapAction="http://qbagent.affilia.com/ProvideLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuickBooks_x0020_Agent_x0020_Web_x0020_Service">
    <wsdl:port name="QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap" binding="tns:QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap">
      <soap:address location="http://q-agent.com/QBAgentService.asmx" />
    </wsdl:port>
    <wsdl:port name="QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap12" binding="tns:QuickBooks_x0020_Agent_x0020_Web_x0020_ServiceSoap12">
      <soap12:address location="http://q-agent.com/QBAgentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>